<!DOCTYPE html>
<html>
<head>
    <title>Mathelo</title>
    <link rel="stylesheet" type="text/css" href="/static/css/foundation.css"/>
    <link rel="stylesheet" href="/static/css/font.css"/>
    <link rel="stylesheet" href="/static/css/index.css"/>
    <link rel="shortcut icon" href="/images/iconmonstr-3d-view-icon-16.png"/>
    <script src="/static/js/jquery.js"></script>
</head>
<body>
<div id="content">
    <div class="row">
            <h3 class="overview">Help with Mathelo</h3>
                <p>Mathelo consists of a block-oriented layout within <i>sessions</i>. Each block coordinates in real time with other blocks on the other participants' screens in the sessions. To invite someone to your session, use the sidebar and select "Invite others."</p>
            	<p>The solution to the problem is devised in a dark gray box, by default in the lower right hand corner. To receive a printable version of the solution and the problem, select "Print solution" from the sidebar.</p>
				<p>If you have any questions, contact the creators of Mathelo: <a href="mailto:stevenschmatz@gmail.com">Steven Schmatz</a> and <a href="mailto:amit@amizrahi.com">Amit Mizrahi</a>.
    </div>
</body>
</html>
