<!DOCTYPE html>
<html>
<head>
    <title>Mathelo</title>

        <!--Styles-->
		<link rel="stylesheet" type="text/css" href="/foundation-5.0.3/css/foundation.css"/>
        <link rel="stylesheet" href="/CSS/styles.css"/>

        <!--Shortcut icon-->
        <link rel="shortcut icon" href="/images/iconmonstr-3d-view-icon-16.png"/>

        <!--JQuery-->
		<script src="/js/jquery.js"></script>

        <!--MathJax and MathJax config-->
        <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
        <script>
            MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
        </script>

        <!--MathJax sizing options-->
        <script type="text/javascript">
            MathJax.Hub.Config({
                extensions: ["tex2jax.js"],
                "HTML-CSS": { scale: 200}
            });
        </script>
</head>
<body>
    <div id="content">
        <div class="row">
            <form action="" method="post" id="problemForm">
                <h3 class="overview">Welcome to Mathelo.</h3>
                <p class="overview">Mathelo is the best way to collaboratively tackle math problems.</p>
                <p class="overview" id="type_a_problem">Type a problem below to begin. Plain text inputs and LaTeX inputs (if enclosed by $$) are accepted.</p>
                <input type="text" class="overview" id="problem" name="problemText">
            </form>
        </div>
				<div class="row">
					<p class="overview credits">Designed and developed by <a href="http://www.amizrahi.com/">Amit Mizrahi</a> and <a
                            href="http://www.stevenschmatz.com/">Steven Schmatz</a> for MHacks spring 2014.</p>
                    <p id="latexRender" class="problemLatex"></p>
        <script>
            $(function() {
                MathJax.Hub.Queue(["Typeset", MathJax.Hub]);

                /*$(".overview").fadeOut(500)*/
                $("#problem").keydown(function(e) {
                    if ($(this).val().length == 1) {
                        $("#type_a_problem").text("Press enter to submit");
                    }


                    $("#latexRender").text($("#problem").val());
                    MathJax.Hub.Queue(["Typeset", MathJax.Hub]);

                    if (e.keyCode == 13) {
                        e.preventDefault();
                        $(".overview").fadeOut(500);
                        setTimeout(function() { $("#problemForm").submit() }, 500);
                    }
                });
            });

        </script>
    </div>
</body>
</html>