<!DOCTYPE html>
<html>
<head>
    <title>MathApp</title>
		<style>
		@font-face {
			font-family:"Merriweather";
			src:url("/font/merriweather/Merriweather-Light.ttf");
		}
		body {
			font-family:"Merriweather" !important;
		}
		h1, h2, h3, h4, h5, h6 {
			font-family:"Merriweather" !important;
		}
		input[type='text'] {
			font-family:"Merriweather";
		}
		</style>
		<link rel="stylesheet" type="text/css" href="/foundation-5.0.3/css/foundation.css"/>
		<script src="/js/jquery.js"></script>
</head>
<body>
	<div class="row">
		<form action="" method="post" id="problemForm">
			<h3 class="overview">Welcome to MathApp.</h3>
			<p class="overview">The best way to collaboratively tackle math problems.</p>
			<p class="overview" id="type_a_problem">Type a problem below to begin.</p>
			<input type="text" class="overview" id="problem">
		</form>
	</div>
    <script>
        $(function() {
            /*$(".overview").fadeOut(500)*/
            $("#problem").keydown(function(e) {
                if ($(this).val().length == 1) {
                    $("#type_a_problem").text("Press enter to submit");
                }
                if (e.keyCode == 13) {
										e.preventDefault();
                    $(".overview").fadeOut(500);
										setTimeout(function() { $("#problemForm").submit() }, 500);
                }
            });
        });

    </script>
</body>
</html>