<html>
<head>
<script src="/js/jquery.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>
<script>
MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
</script>
<script>
$(function() {
	MathJax.Hub.Queue(["Typeset", MathJax.Hub]);
});
</script>
</head>
<body>
<p><b><%= problem %></b></p>
<p><%= solution %></p>
<script>
</body>
</html>