
<!DOCTYPE html>
<html>
<head>

    <link rel="stylesheet" type="text/css"
          href="http://static.awwapp.com/plugin/1.0/aww.css"/>
    <script type="text/javascript"
            src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <script type="text/javascript"
            src="http://static.awwapp.com/plugin/1.0/aww.min.js"></script>

    <style type="text/css">
        #wrapper {
            border: 1px solid black;
            width: 10%;
            height: 300px;
            margin: 0 auto;
        }
    </style>
</head>
<body>
<h1>Hello whiteboard!</h1>

<div id="wrapper"></div>
<script type="text/javascript">
    $('#wrapper').awwCanvas();

    $(window).resize(function() {
        $('#wrapper').awwCanvas().resize();
    });
</script>

</body>
</html>

