<!DOCTYPE html>
<html>
<head>
    <title>MathApp</title>
		<style>
		@font-face {
			font-family:"Merriweather";
			src:url("/font/merriweather/Merriweather-Light.ttf");
		}
		body {
			font-family:"Merriweather" !important;
		}
		h1, h2, h3, h4, h5, h6 {
			font-family:"Merriweather" !important;
		}
		input[type='text'] {
			font-family:"Merriweather";
		}
        .draggable {
            width: 150px;
            height: 150px;
            padding: 0.5em;
            border: 1px solid #dcdcdc;
            border-radius: 7px;
        }

		</style>
		<link rel="stylesheet" type="text/css" href="/foundation-5.0.3/css/foundation.css"/>
		<script src="/js/jquery.js"></script>
		<script src="/js/jquery-ui.js"></script>
    <script>
        $(function() {
            $( ".draggable" ).draggable();
            $(".draggable").hover(function() {
                $(this).animate({
                 "border-color": "#494949",
                 "border-width": "0.2em"
                 }, 100, function() {
                 }
             );
            });
            $(".draggable").mouseleave(function() {
                $(this).animate({
                            "border-color": "#9D9D9D",
                            "border-width": "1px"
                        }, 100, function() {
                        }
                );
            });
        });

    </script>
</head>
<body>
	<div class="row">
		<h3><%= problemText %></h3>
	</div>

    <div class="draggable" class="ui-widget-content">
        <p>Drag me around</p>
    </div>

</body>
</html>