<!DOCTYPE html>
<html>
<head>
    <title>MathApp</title>
				<!-- jquery -->
        <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
        <link rel="stylesheet" href="/js/jQuery-Tags-Input-1.3.2/jquery.tagsinput.css">
				<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
				<script src="/js/jquery-ui.js"></script>
				<script src="/js/jQuery-Tags-Input-1.3.2/jquery.tagsinput.js"></script>
				<!-- fonts -->
				<link href='http://fonts.googleapis.com/css?family=Lato:100' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
				<!-- aww -->
		    <link rel="stylesheet" type="text/css" href="http://static.awwapp.com/plugin/1.0/aww.css"/>
				<script type="text/javascript" src="http://static.awwapp.com/plugin/1.0/aww.min.js"></script>
				<script type="text/javascript" src="http://awwapp.com:7000/nowjs/now.js"></script>
				<!-- opentok -->
				<script src="http://static.opentok.com/v1.1/js/TB.min.js"></script>
				<!-- socket.io -->
				<script src="/socket.io/socket.io.js"></script>
				<!-- our stylesheets and js -->
        <script src="/js/index.js"></script>
				<link rel="stylesheet" href="/CSS/styles.css"/>
				<link rel="stylesheet" type="text/css" href="/CSS/index.css"/>
				<!-- foundation -->
				<link rel="stylesheet" type="text/css" href="/foundation-5.0.3/css/foundation.css"/>
				<!-- mathjax -->
		    <script type="text/x-mathjax-config">
		  	MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
				</script>
		    <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
		    </script>
</head>
<body>
	<div class="overlay">
		<div class="callout panel" id="dialog">
			<input type="text" id="nameInput" placeholder="Please enter your name..."/>
		</div>
    <div id="sidebar">
        <div id="menu">
            <p style="text-align: right" id="sidebar_header">
                Mathelo&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <img src="/images/iconmonstr-menu-icon-32.png" style="cursor:pointer;" alt="sidebar icon" id="icon"/>
            </p>
            <p>
                <table class="menuList">
                    <tr>
                        <td><a href="#" id="invite">Invite collaborators</a></td>
                        <td><img src="/images/iconmonstr-user-11-icon-32.png" alt="person"/></td>
                    </tr>
                    <tr>
                        <td><a href="#" id="save">Save solution</a></td>
                        <td><img src="/images/iconmonstr-save-icon-32.png" alt="person"/></td>
                    </tr>
                    <tr>
                        <td><a href="#" id="clear">Clear workspace</a></td>
                        <td><img src="/images/iconmonstr-square-dashed-rounded-icon-32.png" alt="person"/></td>
                    </tr>
                    <tr>
                        <td><a href="/about">About</a></td>
                        <td><img src="/images/iconmonstr-help-2-icon-32.png" alt="person"/></td>
                    </tr>
                </table>
            </p>
        </div>
    </div>
    <div id="content">
        <span><img src="/images/iconmonstr-menu-icon-32.png" alt="open menu" id="open_panel_icon"/></span>
        <div class="row panel" id="bigHeader">
            <h3 id="problem_text"><%= problemText %></h3>
        </div>
				<div class="row">
	        <div class="draggable ui-widget-content large-8 medium-8 small-8 columns" id="board">
						<div class="boardLeft">
							<p><a class="switchLink" data-context="whiteboard" href="#">Whiteboard</a> &middot; <a class="switchLink" data-context="latex" href="#">LaTeX</a> &middot; <a class="switchLink" data-context="graph" href="#">Graph</a></p>
							<div id="wrapper"></div>
						</div>
 						 <div class="boardRight">
 							 <div id="latexRender">
								 When $a \ne 0$, there are two solutions to \(ax^2 + bx + c = 0\) and they are
								 $$x = {-b \pm \frac{\sqrt{b^2-4ac}}{2a}}.$$
							 </div>
 						 </div>
						 <p class="minimize">_</p>
	        </div>
	        <div class="draggable ui-widget-content large-4 medium-4 small-4 columns" id="chat">
							<p class="minimize">_</p>
							 <p>Chat</p>
	             <ul id="chat-msgs">
	             </ul>
	             <input type="text" id="msg"/>
						 </div>
	        </div>
				<div class="row">
					<div class="draggable ui-widget-content large-4 medium-4 small-4 columns" id="wolfram">
						<p class="minimize">_</p>
						<p>Calculator</p>
						<input type="text" id="calc" placeholder="e.g. 2+2"/>
						<div id="result"></div>
						<div id="error"></div>
						<b>Recent calculations:</b>
						<ul id="calc-log">
						</ul>
					</div>
					<div class="draggable ui-widget-content large-4 medium-4 small-4 columns" id="tokbox">
						<p class="minimize">_</p>
						<p>Video chat</p>
						<div id="placeholder">
						</div>
					</div>
					<div class="draggable ui-widget-content large-4 medium-4 small-4 columns" id="output">
						<p class="minimize">_</p>
						<p>Output</p>
						<textarea id="solution">
						</textarea>
					</div>
				</div>
    </div>
	</div>
</body>
</html>