@font-face {
	font-family:"Merriweather";
	src:url("/font/merriweather/Merriweather-Light.ttf");
}
@font-face {
	font-family:"Merriweather Bold";
	src:url("/font/merriweather/Merriweather-Bold.ttf");
}
